@import url("https://websseu.github.io/fffont/fffont.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #efeeec;

  --black: #000;
  --black100: #111;
  --black200: #444;
  --black300: #666;
  --black400: #bbb;
  --black500: #eee;

  --white: #fff;
  --white100: #f1f1f1;
  --white200: #e7e7e7;
  --white300: #dddddd;
  --white400: #d1d1d1;
  --white500: #c7c7c7;

  --fontN: "NanumSquareNeo";
  --fontX: "NexonLv1Gothic";
  --fontG: "GmarketSans";

  font-family: var(--fontN);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--main);
}

html {
  scroll-behavior: smooth;
}

em {
  font-style: normal;
}

/* skip */
#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 0.5rem 1rem;
  left: -400px;
  top: 5px;
  font-size: 14px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

.NanumSquareNeo {
  font-family: "NanumSquareNeo";
}
.poppins {
  font-family: "Poppins";
}
.nexon {
  font-family: "NexonLv1Gothic";
}

@layer components {
  #header {
    @apply fixed top-0 left-0 z-10 w-full border-black border-b-2 flex items-center justify-between py-2 px-4 bg-main;
  }
  #header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #00000038;
    z-index: -1;
  }

  .header__left {
    @apply bg-main w-9 h-9 rounded-full flex items-center justify-center ring ring-gray-300/20 hover:bg-pink-50;
  }
  .header__logo {
    @apply bg-main font-gmarket text-lg uppercase mt-[3px] block font-bold px-3 pb-1;
  }
  .header__right {
    @apply bg-main w-9 h-9 rounded-full flex items-center justify-center ring ring-gray-300/20 hover:bg-pink-50;
  }
  .header__menu {
    @apply absolute left-1/2 -translate-x-1/2 top-[36px];
  }
  .header__menu-link {
    @apply bg-main border border-black px-2 py-[2px] hover:bg-black300 hover:text-white text-sm transition-all duration-500;
  }
  .active {
    @apply bg-black text-white;
  }
  .left-line {
    @apply relative;
  }

  .left-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 1px;
    height: calc(100% - 10px);
    background-color: #00000020;
  }
  .under {
    @apply underline underline-offset-4;
  }
}
